.alignDivs{
  margin: 10;
  padding: 10;
  display:inline-block;
}

.tooltips {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    color:black;
}

.tooltips .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: lightseagreen;
    color: ghostwhite;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -2px;
    left: 110%;
}

.tooltips .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent lightseagreen transparent transparent;
    color:aqua;
}
.tooltips:hover .tooltiptext {
    visibility: visible;
}

.tooltips:hover .notooltiptext {
    visibility: hidden;
}

.inverseColorClass{
    color:  white;
    background-color: darkslategray;
}

.no_inverseColorClass{
    background-color: white;
    color: darkslategray;
}

.caption{
    width:200px;
}